@import url(/Stylesheets/main.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.page-contents {
    position:relative;
}

nav {
    font-family: 'Playfair Display', serif;
    background-color: var(--color-tertiary-light);
    padding:1.5rem;
    position:sticky;
    top:0;
    right:0;
    left:0;
    z-index: 7;
    backdrop-filter: blur(4px);

}

h1.title {
    font-size: 200%;
    padding: 10px 0;
}

.hamburger-nav {
    margin: 0 1rem 0 8px;
}

.bars {
    width:30px;
    height:5px;
    margin-bottom:3px;
    border-radius: var(--container-border);
    background-color: var(--color-primary);
}


.nav-btn {
    box-shadow: none;
    font-size: 110%;
}

.logo {
    width:2rem;
}

/* main-container */

.main-container {
    width: 60%;
    margin: 0 auto;
}

/* aside background */

.aside-film {
    background-color: rgba(61, 61, 61, 0.438);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    z-index: 8;
}

/* drawer */

aside {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding-top:2rem;
    width: 22rem;
    position: fixed;
    top:0;
    bottom:0;
    z-index: 9;
    transform: translateX(-22rem);
    transition: transform .3s ease-in;
    overflow-x: auto;
}

aside::-webkit-scrollbar {
    display: none;
}

.aside-heading {
    margin:0 2rem 1rem 1.5rem;
    padding: 1rem 0;
    font-size: 1.7rem;
    border-bottom: 1px solid;
}

.component-redirect {
    overflow: auto;
    padding: 0 1rem 0 1rem;
}

.component {
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    width:65%;
}

.component:hover {
    background-color:var(--color-tertiary);
    color: var(--color-primary);
    transition:0.7s;
    width:90%;
}

.component-name {
    font-weight: 400;
    font-size: 1.4rem;
}

.component:hover .component-name {
    font-weight: 700;
}

/* component-content */
.component-content {
    margin:2rem 0;
    width:100%;
}

.component-heading{
    /* font-size: 2.5rem; */
    padding-bottom: 1rem;
    font-weight: 700;
}

.code-wrapper, iframe {
    border-radius: var(--container-border);
    margin: 0 auto;
}

/* about component */

.about-component {
    padding:1.5rem;
}


/* variants */
.variant-info {
    text-align: center;
    padding: 8px;
}

.variant-name {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

.demo-wrapper {
    padding: 1rem;
    margin:0 auto;
    /* background-color: var(--color-white); */
    border:1px solid rgba(128, 128, 128, 0.349);
    border-radius: var(--container-border);
}

.for-typography {
    color: var(--color-secondary)
}

.for-badge {
    display: grid; 
    justify-content: center;
    grid-template-columns: 100px 150px 200px 250px;
    align-items: center;
    justify-items: center;
    gap:1rem;
    margin:1rem;
}

.for-badge.text {
    grid-template-columns: 250px 250px;
}

.for-button, .for-ratings{
    gap: 1rem;
}

.for-inputs {
    width: 60%;
}

.for-inputs label {
    font-weight: 500;
}

footer {
    position:sticky;
    bottom:0;
    background-color: var(--color-primary);
    color:white;
    padding: 2rem;
    z-index: 5;
}

.footer-text {
    text-align: center;
}

footer a {
    font-weight: 900;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width:960px) {
    .main-container {
        width:80%;
    }

}

@media (max-width:650px) {
    html {
        font-size: 14px;
    }

    .nav-btn {
        font-size:1.2rem;
    }

    .main-container {
        width: 90%;
    }

}


@media (max-width:480px) {
    .main-container {
        width:100%;
    }

    .component-heading {
        margin: 0 1rem;
    }
}

@media (max-width:420px) {
    nav.display-align-center.display-justify-space-between {
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar{
        align-self: end;
    }

}