@import url(/Stylesheets/main.css);
@import url(/Stylesheets/Docs/docs.css);

.page-content {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.main-container {
    align-self: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.actions {
    margin:1rem;
}

h1 {
    font-size:400%;
    color: var(--color-secondary)
}

.secondary-heading, .tertiary-heading {
    line-height: 200%;
}

.heading {
    gap: 1rem;
}

.image-container {
    width:15%;
}

.logo, .logo-nav, .image-container {
    margin: 0;
}

.logo-nav {
    width: 4rem;
}

@media (max-width:850px) {
    html {
        font-size: 12px;
    }
}