body {
    background-color: var(--color-background-primary);
}

.alert-box, .alert-content{
    flex-wrap: nowrap;
}

.alert-box {
    width: clamp(60%,80%,90%);
    border-radius: var(--container-border);
    padding:1rem;
    margin: 1rem auto;
}

.alert-box p {
    color: var(--color-primary)
}

.alert-box i {
    font-size: 1.3rem;
}


.alert-content .icon {
    marging-right:1rem;

.alert-box.primary {
    background-color: var(  --color-tertiary-variant);
}

.alert-box.success {
    background-color: var(--color-success);
}

.alert-box.success .icon {
    color:var(--color-success-dark)
}

.alert-box.warning {
    background-color: var(--color-warning);
}

.alert-box.warning .icon {
    color:var(--color-warning-dark)
}


.alert-box.danger {
    background-color: var(--color-error);
}

.alert-box.danger .icon {
    color:var(--color-error-dark)
}

.alert-box:hover {
    backdrop-filter: brightness(120%);
    transition: var(--hover)
}
