body {
    background-color: var(--color-background-primary);
}

.alert-box {
    width: clamp(60%,80%,90%);
    gap: var(--flex-gap);
    border-radius: var(--container-border);
    padding:1rem;
    margin: 1rem auto;
}

.alert-box p {
    color: var(--color-primary)
}

.alert-box.primary {
    background-color: var(  --color-tertiary-variant);
}

.alert-box.success {
    background-color: var(--color-success);
}

.alert-box.warning {
    background-color: var(--color-warning);
}

.alert-box.danger {
    background-color: var(--color-error);
}

.alert-box:hover {
    backdrop-filter: brightness(120%);
    transition: var(--hover)
}