.input-box {
    padding: 0.5rem;
    color: var(--color-primary);
}

.input-box input,
.input-box textarea {
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid var(--color-primary);
    border-radius: var(--container-border);
    --tertiary-color: 214, 25%, 56%;
    background-color: hsla(var(--tertiary-color),0.1);
    outline: none;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-secondary-light);
}

.input-box small {
    margin: 5px 0;
    font-size: 1rem;
}

.error input,
.error textarea {
    border-color: var(--color-error-dark);
}

.input-box.error small {
    color: var(--color-error-dark);
}

.input-icon-container {
    --tertiary-color: 214, 25%, 56%;
    background-color: hsla(var(--tertiary-color),0.1);
    display: flex;
    flex-direction: row;
    border-radius: var(--container-border);
    border: 2px solid var(--color-primary);
}

.input-icon-container input {
    background-color: var(--color-reset);
    border: none;
}

.input-icon-container img {
    width: 1.8rem;
    margin:0 1rem;
}

.character-count {
    width: fit-content;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    accent-color: var(--color-secondary-light);
}

.option-holder {
    margin: 1rem 0;
}

.character-count.functional {
    display: none;
}

.char-count-check:checked~.input-box .functional {
    display: flex;
}

label {
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.leading-icon-control:checked~.input-box img {
    display: flex;
    order: -1;
}

.input-box .input-icon-container.trailing-icon img {
    order: 2;
}