:root {
    --color-primary: #0D1321;
    --color-primary-light: #0d132181;
    --color-secondary: #1D2D44;
    --color-secondary-light: #1d2d44ab;
    --color-accent: #3E5C76;
    --color-accent-light: #3e5c76e1;
    --color-tertiary: #748cab;
    --color-tertiary-light: #748cab93;
    --color-tertiary-variant1: #748cabb4;
    --color-tertiary-variant2: #748cab91;
    --color-bright-blue:#cfe4ff;
    --color-background-variant: #f0ebd8;
    --color-background-primary: #f0ebd852;
    --color-error: #ae20297e;
    --color-error-solid: #ae2029ce;
    --color-error-dark: #691419;
    --color-warning: #f674178c;
    --color-warning-dark: #994101;
    --color-success-dark: #295a40;
    --color-success: #58b984ad;
    --color-success-solid: #58b984ce;
    --color-offline: #808080cc;
    --color-white: white;
    --color-bright-red: #ff0000da;
    --color-gray: #333333;
    --color-reset: #ffffff00;
}