@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url(/Stylesheets/color.css);

* {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

label,
span {
    font-weight: 300;
}

.text-align-center {
    text-align: center;
}

.disabled {
    color: var(--color-disabled)
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.regular {
    font-size: 500;
}

.light {
    font-weight: 300;
}