:root {
    --flex-gap : 1rem;

    /* border radius */
    --container-border: 0.3rem;
    --circle-border: 100%;
    --squircle-border: 1rem;
    --button-border: 0.5rem;

    /* transitions */
    --hover : 0.5s;

    /* icon size */
    --icon-size-xsmall: 3rem;
    --icon-size-small: 5rem;
    --icon-size-large: 7rem;
    --icon-size-xlarge: 10rem;

    /* avatar text size */
    --text-size-xsmall: 1rem;
    --text-size-small: 2rem;
    --text-size-large: 2.2rem;
    --text-size-xlarge: 3.5rem;

    /* box-shadow */
    --button-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.39);
    --button-shadow-hover:  0 0 5px 1px rgba(0, 0, 0, 0.623);
    --icon-shadow: 0 5px 10px 1px grey;
    --badge-shadow: 2px 3px 5px -1px rgba(128, 128, 128, 0.876);
}

body {
    background-color: var(--color-background-primary);
    margin: 0 auto;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-justify-space-evenly {
    display:flex;
    justify-content: space-evenly;
}

.display-justify-center {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.display-justify-flex-end {
    display:flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

.display-justify-space-between {
    display:flex;
    justify-content: space-between;
}

.display-align-center{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.display-align-self-flex-end {
    align-self:flex-end ;
}

.flex-grow {
    flex-grow:1
}

.clickable-image {
    cursor: pointer;
}

.strike-off {
    text-decoration:line-through;
}